@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/*Custom styles*/

@font-face {
    font-family: Lol;
    src: url('funnyFont.otf');
} 

@media only screen and (max-width: 1600px) {

    .icon_active {
        content: url('../like.png');
        margin: auto auto 15px auto;
        height: 100px;
        width: 250px;
        display: block;
        border: none;
    }

        .icon_active:hover {
            content: url('../like_hover.png');
        }

    .icon {
        content: url('../dk.png');
        margin: auto auto 15px auto;
        height: 100px;
        width: 250px;
        display: block;
        border: none;
    }

        .icon:hover {
            content: url('../dk_hover.png');
        }

    .buttons_container {
        margin: 15px auto 40px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .buttons_container > button {
            margin: 15px;
        }

    .image_row {
        margin: 50px auto 150px auto;
    }

    .image_big_container {
        width: 100%;
        margin: 0 auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image_small_container_left {
        transition: all 1s ease-in-out;
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        border-radius: 10px;
        border: inset;
        margin: 75px;
    }

        .image_small_container_left:hover {
            transform: translateX(50%) scale(1.35);
        }

    .image_small_container_right {
        transition: all 1s ease-in-out;
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        border-radius: 10px;
        border: inset;
        margin: 75px;
    }

        .image_small_container_right:hover {
            transform: translateX(-50%) scale(1.35);
        }

    .image_small_container_center {
        transition: all 1s ease-in-out;
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        border-radius: 10px;
        border: inset;
        margin: 75px;
    }

        .image_small_container_center:hover {
            transform: scale(1.35);
        }

    .image_in_small_container {
        margin: 15px;
        max-width: 400px;
        max-height: 400px;
    }
}

@media only screen and (max-width: 640px) {

    .icon {
        content: url('../dk.png');
        margin: auto auto 15px auto;
        height: 50px;
        width: 125px;
        display: block;
        border: none;
    }

        .icon:hover {
            content: url('../dk_hover.png');
        }

    .icon_active {
        background: url('../like.png');
        height: 50px;
        width: 125px;
        display: block;
        border: none;
    }

        .icon_active:hover {
            content: url('../like_hover.png');
        }

    .buttons_container {
        margin: 8px auto 20px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .buttons_container > button {
            margin: 15px;
        }

    .image_row {
        margin: 0px auto 0px auto;
    }

    .image_big_container {
        width: 100%;
        margin: 0 auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .image_small_container_left {
        transition: all 1s ease-in-out;
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        border-radius: 5px;
        border: inset;
        margin: 30px;
    }

        .image_small_container_left:hover {
            transform: scale(1.25);
        }

    .image_small_container_right {
        transition: all 1s ease-in-out;
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        border-radius: 5px;
        border: inset;
        margin: 30px;
    }

        .image_small_container_right:hover {
            transform: scale(1.25);
        }

    .image_small_container_center {
        transition: all 1s ease-in-out;
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        border-radius: 5px;
        border: inset;
        margin: 30px;
    }
        .image_small_container_center:hover {
            transform: scale(1.25);
        }

    .image_in_small_container {
        margin: 5px;
        max-width: 200px;
        max-height: 200px;
    }
}



/*Custom styles*/

html, body {
    font-family: Lol, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
